
<h1>Friends List</h1>

<% friends.forEach(function(friend) { %>
    <li><%=friend %></li>
<% }); %>

<form action="/addfriend" method="post">
    <input type="text" name="newfriend" placeholder="Name">
    <input type="submit">
</form>