<% include partials/header %>
        <h1>This is the home page</h1>

        <img src="https://pre00.deviantart.net/3afc/th/pre/f/2018/033/c/e/tomb_kings_by_bayardwu-dc1x69e.jpg">
<% include partials/footer %>