<%include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Imperial World Record</h1>
            <p>View documented worlds from all over the Milky Way</p>
            <p>
                <a class="btn btn-lg btn-primary" href="/worlds/new">Record New World</a>
            </p>
            </div>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% worlds.forEach(function(world){ %>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <img src="<%= world.image %>">
            <div class="caption">
                <h4><%=world.name %></h4>
            </div>
            <p>
                <a class="btn btn-primary" href="/worlds/<%=world._id %>">More Info</a>
            </p>
        </div>
    </div>
    <% }); %>
    </div>
</div>

<%include ../partials/footer %>
